<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css" >
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Currency Converter</title>
</head>
<body>
  <div class="container">
   

      <div class="mx-auto text-center" style="width: 600px" >
         <h1>Forex Currency Converter</h1>
      </div>

      <div class="mx-auto" style="width: 600px">
          <form action="/convert">
            <div class="form-row">
              <div class="form-group col align-self-center text-center">
                 <label for="convert_from"> Select Currency to convert from:</label>
                 <select class="form-control" name="convert_from" required >
                  <option value="" disabled selected hidden>Select Currency</option>
                  <option value="AUD">AUD - Australian dollar</option>
                  <option value="BGN">BGN - Bulgarian lev</option>
                  <option value="BRL">BRL - Brazilian real</option>
                  <option value="CAD">CAD - Canadian dollar</option>
                  <option value="CHF">CHF - Swiss franc</option>
                  <option value="CNY">CNY - Chinese/Yuan renminbi</option>
                  <option value="CZK">CZK - Czech koruna</option>
                  <option value="DKK">DKK - Danish krone</option>
                  <option value="EUR">EUR - European Euro</option>
                  <option value="GBP">GBP - British pound</option>
                  <option value="HKD">HKD - Hong Kong dollar</option>
                  <option value="HRK">HRK - Croatian kuna</option>
                  <option value="HUF">HUF - Hungarian forint</option>
                  <option value="IDR">IDR - Indonesian rupiah</option>
                  <option value="ILS">ILS - Israeli new sheqel</option>
                  <option value="INR">INR - Indian rupee</option>
                  <option value="JPY">JPY - Japanese yen</option>
                  <option value="KRW">KRW - South Korean won</option>
                  <option value="MXN">MXN - Mexican peso</option>
                  <option value="MYR">MYR - Malaysian ringgit</option>
                  <option value="NOK">NOK - Norwegian krone</option>
                  <option value="NZD">NZD - New Zealand dollar</option>
                  <option value="PHP">PHP - Philippine peso</option>
                  <option value="PLN">PLN - Polish zloty</option>
                  <option value="RON">RON - Romanian leu</option>
                  <option value="RUB">RUB - Russian ruble</option>
                  <option value="SEK">SEK - Swedish krona</option>
                  <option value="SGD">SGD - Singapore dollar</option>
                  <option value="THB">THB - Thai baht</option>
                  <option value="TRY">TRY - Turkish new lira</option>
                  <option value="USD">USD - United States dollar</option>
                  <option value="ZAR">ZAR - South African rand</option>
                </select>
                </div>

              <div class="form-group col align-self-center text-center" style="width: 300px">
                <label for="convert_to"> Select Currency to convert:</label>
                <select class="form-control" name="convert_to" required>
                  <option value="" disabled selected hidden>Select Currency</option>
                  <option value="AUD">AUD - Australian dollar</option>
                  <option value="BGN">BGN - Bulgarian lev</option>
                  <option value="BRL">BRL - Brazilian real</option>
                  <option value="CAD">CAD - Canadian dollar</option>
                  <option value="CHF">CHF - Swiss franc</option>
                  <option value="CNY">CNY - Chinese/Yuan renminbi</option>
                  <option value="CZK">CZK - Czech koruna</option>
                  <option value="DKK">DKK - Danish krone</option>
                  <option value="EUR">EUR - European Euro</option>
                  <option value="GBP">GBP - British pound</option>
                  <option value="HKD">HKD - Hong Kong dollar</option>
                  <option value="HRK">HRK - Croatian kuna</option>
                  <option value="HUF">HUF - Hungarian forint</option>
                  <option value="IDR">IDR - Indonesian rupiah</option>
                  <option value="ILS">ILS - Israeli new sheqel</option>
                  <option value="INR">INR - Indian rupee</option>
                  <option value="JPY">JPY - Japanese yen</option>
                  <option value="KRW">KRW - South Korean won</option>
                  <option value="MXN">MXN - Mexican peso</option>
                  <option value="MYR">MYR - Malaysian ringgit</option>
                  <option value="NOK">NOK - Norwegian krone</option>
                  <option value="NZD">NZD - New Zealand dollar</option>
                  <option value="PHP">PHP - Philippine peso</option>
                  <option value="PLN">PLN - Polish zloty</option>
                  <option value="RON">RON - Romanian leu</option>
                  <option value="RUB">RUB - Russian ruble</option>
                  <option value="SEK">SEK - Swedish krona</option>
                  <option value="SGD">SGD - Singapore dollar</option>
                  <option value="THB">THB - Thai baht</option>
                  <option value="TRY">TRY - Turkish new lira</option>
                  <option value="USD">USD - United States dollar</option>
                  <option value="ZAR">ZAR - South African rand</option>
                </select>
            </div>
          </div>

            <div class="mx-auto" style="width: 300px">
              <div class="form-group mx-auto text-center" style="width: 300px">
              <label for="Amount">Amount:</label>
              <input class="form-control" name='amount' style="width: 300px">
              <div class="form-group mx-auto"></div>
              <button class="btn btn-info btn-sm btn-block">submit</button>

       </div>
      

    </form>
    </div>
  
  
 
 
    {% block results %}
    {% endblock %}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>

